header, footer{
    background-color: white;
    border-style: solid;
    border-radius: 20px;
    padding:5px;
    text-align:center ;
}

*{
    box-sizing: border-box;
}

.separador{
    height: 10px;
    clear: both;
}

.separador1{
    width: 2%;
    height: 1px;
 float: left;

}

.centro{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  
}

img{
    transition: all 0.5 ease;
    border-style: solid;
    border-color: whitesmoke;
}

img:hover{
    transform: scale(0.9);
    border-radius: 30px;
}

.main img{
    width: 49%;
    float: left;
}

.main{
    height: 1200px;
}

body{
    background: #a80077;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #66ff00, #a80077);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #66ff00, #a80077); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
    background-position: center 
    center;
    background-size: cover;
    background-attachment: fixed;
    background-color: gray;
}




header{
    background: #333333;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #dd1818, #333333);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

h1{
    color: whitesmoke;
}

p{
    color: gold;
}

h1{
    background-color:  #FF4E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F9D423, #FF4E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F9D423, #FF4E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;

    color: green ;
}

p{
    color: greenyellow;
}