:root{
    --colorTextos: #49454567;
}

*,
::before,
::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
    background: #1E9600;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FF0000, #FFF200, #1E9600);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FF0000, #FFF200, #1E9600); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

height: 650px;
display: flex;
justify-content: center;
align-items: center;

}

h1{
    text-align: center;
    font-weight:700;
}

form{
    background: #fff;
    padding: 40px 0;
    box-shadow: 0 0 6px o rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.form{
    width: 100%;
    margin: auto;
}

form .grupo{
    position: relative;
    margin: 45px;
   

}
input{
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
}

input:focus{
    outline: none;
    color: #5e5d5d;
}

label{

  --color: var(--colorTextos); 
    font-size: 16px;
    position: absolute;
    bottom:0;
    left:5px;
    top: 10px;
    transition: 0.5s ease all;
    pointer-events: none;
    
}
input:focus~label,
input:valid~label{
    top: -14px;
    font-size: 12px;
    color: #2196f3;

}
.barra{
    position: relative;
    display: block;
    width: 100%;
}

.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0%;
    position: absolute;
    background: linear-gradient(to right, #FF0000, #FFF200, #1E9600);
    transition: 0.3s ease width;
    left:0;
}


input:focus~.barra::before{
width: 100%;
}

button{
    font-family: 'roboto';
    background: #1E9600;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF0000, #FFF200, #1E9600);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF0000, #FFF200, #1E9600); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: #fff;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

.formulario{
    color: indigo;
}

